[submodule "Frontend"]
	path = Frontend
	url = https://github.com/herropaul/globalpowerranking.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/THESUPP0RTER/Lol-power-rankings-backend.git
